<div class="d-flex justify-content-center mb-2">
  <h2 id="room" data-room="<%= @room.id %>" data-user="<%= current_user.id %>"><%= @user.name %> さんとのMessage</h2>
</div>

<div class="d-flex justify-content-center mb-2">
  <div class="message" style="width: 400px;">
    <% @chats.each do |chat| %>
      <% if chat.user_id == current_user.id %>
        <%= render "chats/chat", chat: chat %>
      <% else %>
        <%= image_tag @user.get_profile_image(30, 30), style: 'border-radius: 50%' %>
        <%= @user.name %>
        <p><%= chat.message %></p>
      <% end %>
    <% end %>

    <div class="right-container d-flex justify-content-end ">
      <%= form_with model: @chat, data: {remote: true} do |f| %>
        <%= f.text_field :message %>
        <%= f.submit "送信", class: "btn btn-dark btn-sm " %>
        <%= f.hidden_field :room_id %>
      <% end %>
    </div>
  </div>

  <div class="errors">
    <%= render 'layouts/errors', obj: @chat %>
  </div>

</div>

